.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 140px;
}

.login-loading-bar-animation {
  animation: login-loading-bar 1.5s infinite ease-in-out;
  top: 0;
  opacity: 1 !important;
}

@keyframes login-loading-bar {
  0% {
    width: 32px;
    left: -32px;
  }
  45% {
    width: 84px;
    /* left: calc(50% - 54px); */
  }
  75% {
    width: 50px;
  }
  100% {
    left: 100%;
    
  }
}