.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 140px;
}

.button-number-decoration {
  -webkit-appearance: none !important;
  -moz-appearance: textfield;
  margin: 0;
}

.button-number-decoration::-webkit-inner-spin-button,
.button-number-decoration::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.custom-scrollbar::-webkit-scrollbar {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-moz-scrollbar-thumb {
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  scroll-behavior: smooth;
}

.fade-in-animation {
  animation: fadeIn 1s ease-in-out infinite alternate; 
}

/* input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
} */

.login-loading-bar-animation {
  animation: login-loading-bar 1.5s infinite;
  top: 0;
  opacity: 1 !important;
}

.animated-border-button {
  animation: border-rotate 2s ease-in-out alternate infinite;
}

.triangle {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.triangle-slot {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f0f0f0;
}

.numbers button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes border-rotate {
    0% {
        box-shadow: rgb(91, 225, 91) 0px 0px 20px 5px;
    }
    100% {
        box-shadow: rgb(61, 126, 11) 0px 0px 20px 5px;
    }
}

@keyframes login-loading-bar {
  0% {
    width: 32px;
    left: -32px;
  }
  45% {
    width: 84px;
    /* left: calc(50% - 54px); */
  }
  75% {
    width: 50px;
  }
  100% {
    left: 100%;
    
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}